body {
    background: rgb(228, 197, 21)
}

header div{
    text-align: center
}
h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin:30px auto;
    justify-content: space-around;
    width:80%;
}

.score {
    font-size: 1.5rem;
}

.startbtn {
    display: block;
    width: 200px;
    height: 2rem;
    font-size: 1.5rem;
    transition: 0.2s;
    margin: 5px auto;
    background: rgb(21, 173, 228);
    border: 2px solid white;
}

.countdown {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    transform:translate(0, -100%);
}

.card {
    width: 27%;
    height: 420px;
    position: relative;
    user-select: none;
}

.mole {
    width: 50%;
    position: relative;
    bottom: 0;
    left: 25%;
    transform-origin:0;
    transform: scale(1,0);
    transform-origin : 50% 100%;
    transition: 0.1s;
}

.mole:hover{
    cursor: pointer;
}

.mole:active {
    background: red;
}

.dirt {
    width: 100%;
    position: relative;
    bottom: 0;
    transform: translate(0,-75%)
}

.up{
    transform: scale(1,1)
}

.hide {
    transform: scale(1,0);
}

@media screen and (max-width:1640px){
    .card {
        height: 360px;

    }
}
@media screen and (max-width:860px){
    .card {
        height: 200px;
    }
}

