body {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.container {
    margin:30px auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

video {

}

.bar {
    width: 40px;
    height: 360px;
    display: inline-block;
    margin: 0 5px;
    background: white;
    border-radius: 50px 50px 50px 50px;
    padding: 0;
}

.height {
    margin: 0;
    height: 60px;
    background: linear-gradient(to top, red, blue);
    color:white;
    text-align: center;
    line-height: 60px;
    border-radius: 50px 50px 50px 50px;
}